*~
*.pkl
*.pyc
*.py~
*.h5
*.hdf5
*.txt
*.log
*.dat
*.pdf
keras/weights/*
keras/analysis/results/*
keras/results/*
keras/archives/*
keras/logs/*
*/log/*
/analysis/results/*
/results/*
/logs/*
keras/paramScan/*
keras/misc/*
keras/archives/*
keras/misc/results/*