*~
*.pkl
*.pyc
*.py~
*.h5
*.hdf5
*.txt
*.log
*.dat
keras/weights/*
keras/analysis/results/*
keras/results/*
keras/logs/*
*/log/*
/analysis/results/*
/results/*
/logs/*
*/keras/paramScan/*
*/keras/misc/*